workflows/backup_workflows_to_github.json
{
  "updatedAt": "2026-02-02T10:40:24.458Z",
  "createdAt": "2026-02-02T10:24:36.325Z",
  "id": "ESuuXSI1OzvKIyGjneFq0",
  "name": "Backup Workflows to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "47e366dd-1053-4904-86d5-2836784d77b5",
      "name": "Daily 3AM1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1776,
        112
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "6810d884-607e-4968-958e-bbffa6b0ae57",
      "name": "Get All Workflows1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2000,
        112
      ],
      "credentials": {
        "n8nApi": {
          "id": "Werq1pDvs1b9HkAp",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflows = $input.all();\n\nreturn workflows.map(item => {\n  const wf = item.json;\n  const safeName = wf.name\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_|_$/g, '');\n  \n  return {\n    json: {\n      fileName: `workflows/${safeName}.json`,\n      content: Buffer.from(JSON.stringify(wf, null, 2)).toString('base64'),\n      commitMessage: `Backup: ${wf.name}`\n    }\n  };\n});"
      },
      "id": "55504d04-25c1-4630-9470-39b8322cd8f1",
      "name": "Format for GitHub1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/tobiasdosdal/n8n-workflows/contents/{{ $json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3f6e7b2f-9541-49c1-9a8b-106062bf84e4",
      "name": "Get Existing File1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        112
      ],
      "credentials": {
        "githubApi": {
          "id": "hmoppFynzUN7ewwd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/tobiasdosdal/n8n-workflows/contents/{{ $('Format for GitHub1').item.json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Format for GitHub1').item.json.commitMessage, content: $('Format for GitHub1').item.json.content, branch: 'main', sha: $json.sha || undefined }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "id": "678560ad-cbee-4406-b674-32c39abae404",
      "name": "Push to GitHub1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        112
      ],
      "credentials": {
        "githubApi": {
          "id": "hmoppFynzUN7ewwd",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Daily 3AM1": {
      "main": [
        [
          {
            "node": "Get All Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows1": {
      "main": [
        [
          {
            "node": "Format for GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for GitHub1": {
      "main": [
        [
          {
            "node": "Get Existing File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing File1": {
      "main": [
        [
          {
            "node": "Push to GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ff64bc94-9cb1-4416-9d97-d1d1072fefab",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-02T10:24:36.325Z",
      "createdAt": "2026-02-02T10:24:36.325Z",
      "role": "workflow:owner",
      "workflowId": "ESuuXSI1OzvKIyGjneFq0",
      "projectId": "yog61zFg90uVA3O8"
    }
  ],
  "activeVersion": null,
  "tags": []
}